body {
    background: linear-gradient(45deg, #d1dca8, #e7e8e3);
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

table {
    border-collapse: collapse;
}

td {
    width: 30px;
    height: 30px;
    background-color: #d2dae2;
    border: 2px solid #00000063;
} 