body {
    background: linear-gradient(45deg, #d1dca8, #e7e8e3);
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

table {
    border-collapse: collapse;
}

td {
    width: 30px;
    height: 30px;
    background-color: #d2dae2;
    border: 2px solid #00000063;
}

.palette {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 250px;
    height: 75px;
    background-color: rgba(156, 156, 156, 0.39);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.palette__button {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.palette__button--active {
    width: 50px;
    height: 50px;
}

.plain {
    background-color: #d2dae2;
}

.empty {
    background-color: #485460;
}

.light {
    background-color: #fbc048;
}

.highlight {
    background-color: #79ea83;
} 

.configuration {
    display: flex;
    justify-content: center;
    margin: 0 0 2rem 0;
}

.configuration input:first-child {
    border-radius: 10px 0 0 10px;
}

.configuration input {
    background-color: #fff;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border: none;
    width: 15rem;
    margin-right: 2px;
}

.configuration button {
    background-color: #697342;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 0 10px 10px 0;
} 