.app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    position: relative;
    margin: 2rem 0 0 0;
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
}

.hidden {
    display: none;
}

.btn {
    padding: .5em 2em;
    background: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    border-bottom:4px solid #ad5304;
}

.btn:hover {
    margin-top: 1px;
    border-bottom-width: 3px;
}

.row {
    display: flex;
}

.cell {
    width: 70px;
    height: 70px;
    border: 1px solid #000;
    background-color: #fff;
}

.targetCell {
    background-color: #008000;
}

.player {
    background-image: url('/images/rpg-sprite.png');
    width: 28px;
    height: 32px;
    margin: 20px;
    background-repeat: no-repeat;
    background-position: top;
    transform: scale(1.8);
}

.player--up {
    background-position-y: -96px;
}

.player--right {
    background-position-y: -64px;
}

.player--down {
    background-position-y: 0px;
}

.player--left {
    background-position-y: -32px;
}

.result {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    color: #fff;
    font-size: 3em;
    padding: .3em 0;
    text-align: center;
    animation: fade .4s ease 0s 1;
}
