<%- include("./partials/header") %>

    <%- include("./partials/titleGame") %>

        <div id="welcome" class="welcome">
            <button id="play" class="btn" type="button">Jouer</button>
        </div>
        <div id="app" class="app hidden">
            <div id="player" class="player"></div>
        </div>

        <%- include("./partials/footer") %>