<%- include("./partials/header") %>

    <%- include("./partials/titleGame") %>

        <main class="app">
            <div id="board">
            </div>
        </main>

        <%- include("./partials/footer") %>
        