<%- include("./partials/header") %>

    <%- include("./partials/titleGame") %>

        <div id="welcome" class="welcome">
            <button id="play" class="btn" type="button">Jouer</button>
        </div>
        <div id="replay" class="welcome hidden">
            <button id="newGame" class="btn" type="button">Rejouer</button>
        </div>
        <div id="app" class="app hidden">
            <div id="board">
            </div>
        </div>

        <%- include("./partials/footer") %>