<%- include("./partials/header") %>

    <%- include("./partials/titleGame") %>
        <div id="welcome" class="welcome">
            <button id="play" class="btn" type="button">Jouer</button>
        </div>
        <div id="message" class="message hidden"></div>
        <div id="app" class="app"></div>

        <%- include("./partials/footer") %>